body {
    border: 3px solid darkgreen;
}

header {
    display: flex;
    height: 50px;
    background-color: green;
    justify-content: space-between;
    padding: 35px 75px;
}

.cart-button {
    color: green;
    width: 100px;
    height: 40px;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.goods {
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
    border: 2px solid darkgreen;
}